*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
/*
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
    */
#scene-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas.webgl {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#scene-container > div {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 2;
}
